---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">About Me</h3>
<p>
  My name is Fotios Kounelis and I am a PhD student in the Large-Scale Distributed Systems (<a href="https://lsds.doc.ic.ac.uk/">LSDS</a>) group 
  at Imperial College London, under the supervision of Dr. <a href="https://www.imperial.ac.uk/people/pirk">Holger Pirk</a>. 
  Prior to this, I acquired my Engineers degree and my MSc in the <a href="https://www.upatras.gr/">University of Patras</a>, 
  in the <a href="https://www.ceid.upatras.gr/el">Computer Engineering and Informatics Department</a> and conducted both of my thesis
  under the supervision of Dr. <a href="https://www.ceid.upatras.gr/en/staff/faculty/makris-christos">Christos Makris</a>.
</p>
<p>
  My PhD research focuses on program rewriting using compiler transformations for data-intensive applications. 
  More specifically, I work on <a href="https://www.graalvm.org/">GraalVM</a>, a JVM Java-writen compiler, creating a rewriting framework 
  that optimizes data-intensive programms by applying tranformations based on compression techniques.
</p>
<p>
  My research interests lies in the areas of Compiler Optimizations and Compression Techniques but I am also interested in the areas
  of Bioinformatics, Information Retrieval and Data Structures.
</p>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
